@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    --main-black: #212529;
    --white-background: #f8f8f8;
    --reduced-black: #343a40;
    --grey-background: #f4f4f4;
}

header {
    background-color: var(--main-black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    max-width: 100vw;
    box-sizing: border-box;
}

#bussiness-name {
    color: var(--white-background);
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-size: 36px;
}

.navigation-button {
    height: 36px;
    border-style: none;
    background-color: var(--main-black);
    color: var(--white-background);
    font-size: 14px;
    font-weight: 700;
    padding: 0 2em
}

.navigation-button:hover {
    background-color: var(--white-background);
    color: var(--main-black);
}

.navigation-dropdown {
    background-color: var(--reduced-black) ;
    font-size: 14px;
    color: var(--white-background);
    font-weight: 700;
    padding: 0.33333em 0;
    border-radius: 0.75em;
    border-width: 1px;
    border-color: var(--white-background);
}

#content {
    background-color: var(--grey-background);
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

#base {
    grid-column: 2;
    background-color: var(--white-background);
}

.section {
    height: 32.5vh;
    max-width: 80vw;
}

#section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#section-two {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subsection div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.subsection div div {
    width: 6em;
    height: 6em;
    border-style: solid;
    border-radius: 2em;
    margin: 1.5em;
}

#welcome-message {
    font-size: 3em;
    font-weight: 500;


}

.subheader {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0.5em 0;
}

.panel {
    width: 60%;
    height: 8em;
    border-style: solid;
}

#bussiness-table tr * {
    font-size: 1.5em;

}